<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="sales.css" rel="stylesheet">
</head>
<body class="home">
    <nav class="nav">
        <a href="sales.html" class="link">Home</a>
            <a href="shopnow.html" class="link">buy now</a>
            <a href="about.html" class="link">about us</a>
            <a href="contact.html" class="link">contact</a>
    </nav>
    <section id="about">
        <p id=para_about>Welcome to<b> Siri’s Boutique,</b> where fashion meets exclusivity!<br>
                    We specialize in offering rare and attractive dresses that you won’t find anywhere else.<br>
                    Our collection is curated with the utmost care to ensure that each piece is <i>unique, stylish,</i> and <i>perfect </i> making a statement.<br>
                    Whether you’re looking for a chic evening gown, a trendy casual dress, or something in between, we have something special just for you.<br>
                    Step into a world of elegance and charm with Siri’s Boutique, and let your wardrobe reflect your individuality.<br>
        </p>


    </section>
</body>
</html>