<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIRI botique</title>
    <link href="sales.css" rel="stylesheet">

</head>

<body class="home">
    <section id="home">
        <nav class="nav">
            <a href="sales.html" class="link">Home</a>
            <a href="shopnow.html" class="link">buy now</a>
            <a href="about.html" class="link">about us</a>
            <a href="contact.html" class="link">contact</a>
        </nav>

        <h4 id="offer">Hurry, Limited Time Offer!<br>
                Shop Now <br>and Save Big at Siri’s Boutique!
        </h2>
    </section>

<script src="sales.js"></script>   
</body>

</html>