<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="sales.css" rel="stylesheet">
</head>
<style>
    body{
    background-image: url('/static/landing.png') ;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    

    }
</style>
<body>
    <script src="sales.js"></script>   
   
    <nav class="nav">
        <a href="sales.html" class="link">Home</a>
        <a href="shopnow.html" class="link">buy now</a>
        <a href="about.html" class="link">about us</a>
        <a href="contact.html" class="link">contact</a>
    </nav>
    <h2 class="shop_head">low price store</h3>
    <section id="shopnow">
        
        <div id="img1">
          <img src="\static\img1.jpg" alt ="a beautiful white frock">
            <p class="shop_para">
                siri's gorgeous frock<br>

                ₹10,000<br>
                ₹8000 with 20% offer<br>
                free delivery<br>
                rating:4.8 out of 5<br>
            <button onclick="buynow()">buy Now</button>
        </p>
        </div>
        <div id="img2">
           <img src="\static\image2.jpg" alt ="a beautiful western dress">
                <p class="shop_para">
                    siri's fabolous dress

                    ₹2,000<br>
                    ₹1000 with 50% offer<br>
                    free delivery<br>
                    rating:4.5 out of 5<br>
                    <button onclick="buynow()">buy Now</button>
                
            </p>
        </div>
        <!-- here we can add more images-->

    </section>
</body>
</html>